/*=====================================================================
               Clean-code-s1e1
=====================================================================*/
.page {
 font-family: Lato, sans-serif;
 background-color: #f8f8f8;
 color: #333;
}

.list {
  margin:0;
  padding: 0;
}

.list__item {
  list-style:none;
}

.item-wrap__input,
.list__input, 
.btn {
  outline:none;
}

.desc-app {
 width: 500px;
 margin: 0 auto;
 display: block;
 text-align: right;
}

.desc-app__img {
 width: 100%;
}

.desc-app__link {
 font-family: fantasy, cursive;
}

.main {
 display: block;
 width: 500px;
 margin: 0 auto 0;
}

.item-wrap__input,
.label-content,
.wrap-label__input {
 width: 94.25%;
 display: inline-block;
 flex-grow: 1;
}

.add-item__wrapper {
 display: flex;
}

.btn {
 background: none;
 border: 0;
 color: #888;
 font-size: 15px;
 width: 60px;
 font-family: Lato, sans-serif;
 cursor: pointer;
}

.btn:hover {
 color: #3a3A3a;
}

/*==============================
          Heading
==============================*/
.title {
 color: #333;
 font-weight: 700;
 font-size: 15px;
 border-bottom: 2px solid #333;
 padding: 30px 0 10px;
 margin: 0;
 text-transform: uppercase;
}

.item-wrap__input,
.wrap-label__input {
 margin: 0;
 font-size: 18px;
 line-height: 18px;
 height: 21px;
 padding: 0 9px;
 border: 1px solid #dDd;
 background: #FFF;
 border-radius: 6px;
 font-family: Lato, sans-serif;
 color: #888;
}

.item-wrap__input_focused:focus,
.wrap-label__input_focused:focus {
 color: #333;
}

/*==============================
          New Task
==============================*/
.note__title {
 display: block;
 margin: 0 0 20px;
}

.item-wrap__label {
  width: 318px;
  flex-grow: 1;
}

.item-wrap__input {
  width: 95.5%;

/*==============================
          Task list
==============================*/
.list__item {
 overflow: hidden;
 padding: 20px 0;
 border-bottom: 1px solid #eee;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.list__input, 
.label-content,
.list__btn {
 vertical-align: middle;
}

.input-checkbox {
 margin: 0 10px;
}
  
.label-content {
 padding-left: 10px;
 box-sizing: border-box;
 font-size: 18px;
 width: 226px;
}

.list__item > .wrap-label {
 width: 226px;
}

.img__delete {
 height: 2em;
 transform: rotateZ(45deg);
 transition: transform 200ms ease-in;
}
  
.img__delete:hover {
 transform: rotateZ(0);
}

/*==============================
          Completed
==============================*/
.completed__list .label-content {
 text-decoration: line-through;
 color: #888;
}

/*==============================
          Edit Task
==============================*/
.wrap-label {
  display: none;
  flex-grow: 1;
  outline: none;
}

.edit-mode .wrap-label {
 display: inline-block;
 width: 224px;
}

.edit-mode .label-content {
 display: none;
}

/*==============================
      Media Queries
==============================*/
@media (max-width: 768px) {
  .desc-app {
    text-align: center;
  }
  
}
